In [1]:
import pandas as pd

In [2]:
url = "datasets/nhanes/nhanes_2015_2016.csv"
da = pd.read_csv(url)

In [3]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [10]:
da['BMXWT'].mean()

81.34267560889516

In [11]:
da['DMDEDUC2'].unique()

array([ 5.,  3.,  4.,  2., nan,  1.,  9.])

In [8]:
g = da['RIAGENDR']
g

0       1
1       1
2       1
3       2
4       2
       ..
5730    2
5731    1
5732    2
5733    1
5734    2
Name: RIAGENDR, Length: 5735, dtype: int64

In [9]:
g.unique()

array([1, 2], dtype=int64)

In [14]:
B = ['bird', 'cat', 'dog', 'cat', 'bird', 'bird']

In [15]:
d = {'categorical': B}

In [16]:
df = pd.DataFrame(d)

In [17]:
df

  categorical
0        bird
1         cat
2         dog
3         cat
4        bird
5        bird

In [18]:
df['categorical']

0    bird
1     cat
2     dog
3     cat
4    bird
5    bird
Name: categorical, dtype: object

In [19]:
dfDummies = pd.get_dummies(df['categorical'], prefix = 'category')

In [20]:
dfDummies

   category_bird  category_cat  category_dog
0           True         False         False
1          False          True         False
2          False         False          True
3          False          True         False
4           True         False         False
5           True         False         False

In [21]:
dfDummies.values

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True],
       [False,  True, False],
       [ True, False, False],
       [ True, False, False]])